<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @upload.name %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to "File", url_for(@upload.file) %>
</p>
<p>
	<%=button_to "Process File", process_file_upload_path(@upload) %>
</p>
<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Upload</th>
      <th>Input</th>
      <th>Account string</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.upload_id %></td>
        <td><%= account.input %></td>
        <td><%= account.account_string %></td>
        <td><%= account.status %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>





<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', uploads_path %>
