<p id="notice"><%= notice %></p>

<p>
  <strong>Upload:</strong>
  <%= @account.upload_id %>
</p>

<p>
  <strong>Input:</strong>
  <%= @account.input %>
</p>

<p>
  <strong>Account string:</strong>
  <%= @account.account_string %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
