<p id="notice"><%= notice %></p>

<p>
  <strong>Upload:</strong>
  <%= @account.upload_id %>
</p>

<p>
  <strong>Input:</strong>
  <%= @account.input %>
</p>

<p>
  <strong>Account string:</strong>
  <%= @account.account_string %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<p>
  <strong>D9:</strong>
  <%= @account.d9 %>
</p>

<p>
  <strong>D8:</strong>
  <%= @account.d8 %>
</p>

<p>
  <strong>D7:</strong>
  <%= @account.d7 %>
</p>

<p>
  <strong>D6:</strong>
  <%= @account.d6 %>
</p>

<p>
  <strong>D5:</strong>
  <%= @account.d5 %>
</p>

<p>
  <strong>D4:</strong>
  <%= @account.d4 %>
</p>

<p>
  <strong>D3:</strong>
  <%= @account.d3 %>
</p>

<p>
  <strong>D2:</strong>
  <%= @account.d2 %>
</p>

<p>
  <strong>D1:</strong>
  <%= @account.d1 %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
